[submodule "components/i2c"]
	path = components/i2c
	url = https://bitbucket.hensoldt-cyber.systems/scm/sc/i2c.git
[submodule "components/bmp280"]
	path = components/bmp280
	url = https://bitbucket.hensoldt-cyber.systems/scm/~flohau01/bmp280.git
[submodule "components/ssd1306"]
	path = components/ssd1306
	url = https://bitbucket.hensoldt-cyber.systems/scm/~flohau01/ssd1306.git
